.lyric-info-container {
  position: relative;
  margin: 50px 100px;
  width: auto;
  min-height: 400px;
  background-color: #f5f5f5ab;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2% 25%;
  text-align: center;
}

.lyric-info-container .lyrics {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  max-height: 400px;
  min-height: 250px;
  overflow-y: auto;
  margin-top: 25px;
}

.lyric-info {
  position: fixed;
  left: 75px;
  top: 123px;
  height: 70px;
  border-radius: 9px;
  display: flex;
  padding-left: 80px;
  align-items: center;
  cursor: pointer;
}

.lyrics-info .lyric-details {
  display: flex;
  flex-direction: column;
}

.lyric-info .lyric-album-art {
  position: absolute;
  left: -13px;
  top: -16px;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-color: #ffc82c;
}

.lyric-info .track-name {
  color: #233a9e;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.lyric-info .artist-name {
  font-size: 12px;
  text-align: left;
}

.lyric-info .lyric-album-art > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.lyric-info-container .back-btn,
.lyric-info-container .copy-btn {
  position: absolute;
}

.lyric-info-container .back-btn {
  right: 20px;
  bottom: 10px;
}

.lyric-info-container .copy-btn {
  left: 20px;
  bottom: 10px;
}

.lyric-info-container .back-btn i,
.lyric-info-container .copy-btn {
  color: #13322d;
  font-size: 30px;
  cursor: pointer;
}

.lyrics-not-found {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lyrics-not-found i {
  font-size: 30px;
  color: #122f2b;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .lyric-info-container {
    margin: 15px 13px;
    padding: 0;
    min-height: 80vh;
  }
  .lyric-info-container .lyrics {
    padding: 10px;
    height: 56vh;
  }
  .lyric-info-container .back-btn {
    bottom: 7px;
  }
  .lyric-info-container .lyrics {
    margin-top: 5px;
}
  .lyric-info {
    position: relative;
    left: 0;
    top: 0;
    height: 70px;
    justify-content: center;
    margin: 10px 20px 0px 20px;
  }
  .lyric-info .track-name {
    color: #233a9e;
    font-size: 15px;
  }
  .lyric-info .lyric-album-art {
    left: -5px;
    top: -3px;
    height: 72px;
    width: 72px;
  }
}
