.lyric-info-container {
  position: relative;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}

.lyric-info-container .lyrics {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  height: 45vh;
  overflow-y: auto;
  margin-top: 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.controls .actions {
  display: flex;
}

.controls .actions div {
  margin: 0 10px;
}

.lyric-info {
  border-radius: 9px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 3px;
}

.lyrics-info .lyric-details {
  display: flex;
  flex-direction: column;
}

.lyric-info .lyric-album-art {
  height: 82px;
  width: 82px;
}

.lyric-info .track-name {
  color: #233a9e;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.lyric-info .artist-name {
  font-size: 12px;
  text-align: left;
}

.lyric-info .lyric-album-art > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.lyric-info-container .back-btn i,
.lyric-info-container .copy-btn i,
.controls .actions i {
  color: #13322d;
  font-size: 30px;
  cursor: pointer;
}

.lyrics-not-found {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lyrics-not-found i {
  font-size: 30px;
  color: #122f2b;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .lyric-info-container {
    margin: 15px 13px;
    padding: 1px;
    height: 75vh;
  }
  .controls {
    width: 100%;
  }
  .lyric-info-container .lyrics {
    padding: 10px;
    font-size: 16px;
  }
  .lyric-info-container .lyrics {
    margin-top: 5px;
  }
  .lyric-info {
    position: relative;
    left: 0;
    top: 0;
    height: 70px;
    margin: 10px 20px 0px 20px;
  }
  .lyric-info .track-name {
    color: #233a9e;
    font-size: 15px;
  }
  .lyric-info .lyric-album-art {
    left: -5px;
    top: -3px;
    height: 72px;
    width: 72px;
  }
}
