.search {
  position: relative;
}
.search .search-input {
  padding: 7px;
  height: 22px;
  border-radius: 6px;
  outline: none;
  border: none;
  opacity: 0.7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.search input::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
.search input:focus {
  box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.search .search-icon,
.search .clear-icon {
  position: absolute;
  color: #a8ababb9;
  cursor: pointer;
}

.search .search-icon{
  right: 10px;
  top: 7px;
}

.search .clear-icon{
  right: 35px;
  top: 7px;
}

@media (max-width: 600px) {
  .search .search-input {
    width: 90vw;
  }
}

@media only screen and (min-width: 800px) {
  .search .search-input {
    width: 450px;
  }
}
