.search {
  position: relative;
}
.search .search-input {
  padding: 7px;
  height: 22px;
  width: 450px;
  border-radius: 10px;
  outline: none;
  border: none;
  opacity: 0.7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search input::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
.search input:focus {
  box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.search .search-icon {
  position: absolute;
  right: 10px;
  top: 7px;
  color: #a8ababb9;
  cursor: pointer;
}
